header {
    color: #582C5F;
}

body {
   background-color: #582C5F !important;
   color: white;
}

.twc-header {
    background:#582C5F !important;
}

.twc-launch-button {
    background-color:#84BD00 !important;
}

#teneo-web-chat {
    height: calc(30% - 60px);
	--primary-color: #84BD00 !important;
	--text-link-color: #84BD00 !important;
}